/* Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Element Styling */

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: white;
}

body {
    text-align: center;    
}
main {
    margin-top: 40px;
}
nav {
    background-color: hsla(194, 85%, 43%, 0.801);
    font-family: 'Fauna One', serif;
    position: fixed;
    width: 100%;
    margin-top: -40px;}

ul {
    display: flex;
    flex-direction: row;   
    list-style: none;
}

li {
    padding: 10px;
}

h4.info {
    padding: 10px;
}

/* Class Styling */

.appPic {
    height: 400px;
    padding: 10px;
    width: 400px;
}

.contact {
    height: 50px;
    padding: 5px;
    width: 50px;
}

.desc {
    font-family: 'Fauna One', serif;
    font-size: 15px;
    line-height: 25px;
    max-width: 700px;
    padding: 20px;
}

.foot {
    background-color: hsla(194, 85%, 43%, 0.801);
    color: white;
    padding: 10px;
}

.title {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 32px;
    padding: 20px;
    text-shadow: 1px 1px 10px hsl(291, 72%, 33%);
    width: 100%;
}

.link {
    color: white;
    text-decoration: none;
}

.live {
    color: hsla(194, 85%, 43%, 0.801);
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding: 5px;
    width: 20%;
    text-decoration: none;

}

.info {
    color: hsla(195, 87%, 12%, 0.801);
    padding: 10px;
    text-shadow: 1px 1px hsla(194, 85%, 43%, 0.801);
}

.info {
    padding: 10px;
}

.proj {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}


/* ID Styling */



/* Media Queries */

@media screen and (min-width: 600px) {
    .proj {
        flex-direction: row;
    }
}


