/* Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Element Styling */

a:hover {
    color: black;
    text-decoration: underline;
}

body {
    text-align: center;    
}

main {
    margin-top: 40px;
}

nav {
    background-color: hsla(194, 85%, 43%, 0.801);
    font-family: 'Fauna One', serif;
    position: fixed;
    width: 100%;
    margin-top: -40px;
}

ul {
    display: flex;
    flex-direction: row;   
    list-style: none;
}

li {
    padding: 10px;
}



/* Class Styling */

.desc {
    font-family: 'Fauna One', serif;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    padding: 20px;
}

.foot {
    background-color: hsla(194, 85%, 43%, 0.801);
}

.title {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 32px;
    padding: 20px;
    text-shadow: 1px 1px 7px hsl(300, 73%, 16%);
    width: 100%;
}

.link {
    color: white;
    text-decoration: none;
}

.proj {
    background-color: hsla(0, 0%, 45%, 0.5);
    height: 300px;
    margin: 20px;
    width: 100%;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    

}


/* ID Styling */