/* Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Element Styling */

body {
    text-align: center;    
}

nav {
    background-color: hsla(120, 1%, 36%, 0.5);
}

ul {
    display: flex;
    flex-direction: row;   
    list-style: none;
}

li {
    padding: 10px;
}

h4.info {
    background-color: hsla(120, 1%, 36%, 0.5);  
    padding: 10px;
}

/* Class Styling */

.desc {
    background-color: hsla(0, 0%, 45%, 0.5);
    width: 100%;
    padding: 20px;
}

.foot {
    background-color: hsla(120, 1%, 36%, 0.5);
}

.title {
    background-color: hsla(0, 0%, 23%, 0.5);
    padding: 20px;
    width: 100%;
}

.image {
    height: 200px;
    width: 200px;
    background-color: hsla(0, 1%, 25%, 0.5);    
    margin: 20px;
   
}

.info {
    padding: 10px;
}

.proj {
    align-items: center;
    background-color: hsla(0, 0%, 45%, 0.5);
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 20px;
    width: 100%;
}

.section {
    align-items: center;
    background-color: hsla(0, 0%, 59%, 0.5);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}


/* ID Styling */



/* Media Queries */

@media screen and (min-width: 600px) {
    .proj {
        flex-direction: row;
    }
}


